body {
    margin: 0;
    background-color: rgb(217, 230, 247);
}

.headerTitle{
    background-color: rgb(17 24 39);
    width: 100%;
    height: 12vh;
    min-height: 12vh;
    max-height: 12vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 2px 10px 1px rgb(96, 96, 96);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

html{
    overflow: hidden;
}

@media (min-width: 390px) {
    html{
        font-size: smaller;
    }
}
@media (min-width: 820px) {
    html{
        font-size: medium;
    }
}
@media (min-width: 1040px) {
    html{
        font-size: large;
    }
}
@media (min-width: 1440px) {
    html{
        font-size: larger;
    }
}

@media (max-width: 390px) {
    .headerTitle{
        font-size: 1.75rem;
    }
}